{% extends "app/layout.html" %}

{% block content %}
<div style="text-align:center; padding:50px">
    <button class="btn"><a href="{% url 'addchamados' %}">Criar Chamados</a></button>
</div>
<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ASUNTO</th>
              <th scope="col">DATA ABERTURA</th>
            </tr>
        </thead>
        <tbody>
            {% for chamado in chamados %}
            <tr style="height:40px">
                <td>{{ chamado.id_chamado }}</td>
                <td>{{ chamado.assunto }}</td>
                <td>{{ chamado.data_abertura }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}
